@use "./base.scss";

// put your custom CSS here!
@font-face {
	font-family: "FZKBFSJW--GB1-0";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("/static/FZKBFSJW--GB1-0.ttf") format("ttf");
}